/*
* Custom
*/
/*@import "partials/app";*/


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 382618396668973211468419% $font-stack;
    color: $primary-color;
}

div a{
    color: $primary-color;
}